/* Global Styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #FFFEF5;
    color: #000000;
    line-height: 1.6;
}

/* Section Classes */
.section-full {
    position: relative;
    min-height: 10vh;
    padding: 0px;
    box-sizing: border-box;
}

.section {
    position: relative;
    padding: 10px;
    margin-left: 25%; /* Add margin to the left */
    margin-right: 25%; /* Add margin to the right */
    text-align: left; /* Ensure text remains aligned to the left */
    box-sizing: border-box;
}

/* Title and Text Styling */
.title {
    font-size: 3em;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
}

.subtitle {
    font-size: 1.5em;
    text-align: center;
    margin-top: 0;
}

.centered-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    transform: scale(1.17); /* Scale the image by 1.5x */
    margin-top: 50px;
    margin-bottom: 50px;
}

.question {
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', serif;
    font-style: italic;
}

.text-box {
    max-width: 800px;
    margin: 20px auto; /* Added margin for spacing */
    background-color: #FFFFFF;
    border: 1px solid #000000;
    padding: 20px;
    box-sizing: border-box;
}

.text-box.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.plot-container {
    width: 100%; /* Ensure full width */
    height: 80vh; /* Set appropriate height */
    min-height: 400px; /* Add a minimum height */
    display: block; /* Ensure it is a block-level element */
}

.plot-container.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Hide elements initially */
.hidden {
    opacity: 0;
}

/* Show elements when active */
.active {
    opacity: 1;
}

/* Conclusion Text Styling */
.conclusion-text {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .title {
        font-size: 2em;
    }
    .question {
        font-size: 1.5em;
    }
    .text-box {
        padding: 15px;
    }
}